@font-face {
  font-family: CreamCake;
  src: url(../fonts/cream_cake.otf);
}
@font-face {
  font-family: HugMe;
  src: url(../fonts/hug_me.otf);
}
@font-face {
  font-family: Nasalization;
  src: url(../fonts/nasalization.otf);
}
@keyframes seta1 {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-1em, 0, 0);
  }
}
@keyframes seta2 {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(1em, 0, 0);
  }
}
@keyframes animaNuvens {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(15em, 0, 0);
  }
}
@keyframes animaEstrela-1 {
  0% {
    transform: translate3d(0, -1em, 0);
  }
  100% {
    transform: translate3d(0, -20em, 0);
  }
}
@keyframes animaEstrela-2 {
  0% {
    transform: translate3d(0, -5em, 0);
  }
  100% {
    transform: translate3d(0, -15em, 0);
  }
}
@keyframes animaEstrela-3 {
  0% {
    transform: translate3d(0, -7em, 0);
  }
  100% {
    transform: translate3d(0, -15em, 0);
  }
}
@keyframes animaEstrela-mobile {
  0% {
    transform: translate3d(0, -450px, 0);
  }
  100% {
    transform: translate3d(0, -400px, 0);
  }
}
@keyframes animaEstrela-mobile2 {
  0% {
    transform: translate3d(0, -14em, 0);
  }
  100% {
    transform: translate3d(0, -20em, 0);
  }
}
html {
  scroll-behavior: smooth;
}

body {
  background: #185e46;
  background: url(../images/background-superior.png), url(../images/background-inferior.png), linear-gradient(45deg, #185e46 0%, #14250b 64%);
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top left, bottom right, bottom;
}

#container {
  overflow: hidden;
  padding: 5em 0;
}

header {
  position: relative;
  text-align: center;
  width: 90%;
  max-width: 1366px;
  margin: 0 auto;
}
header p {
  font-size: 1.2em;
}
header #header-imagem {
  filter: drop-shadow(20px 8px 8px rgba(0, 0, 0, 0.164));
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 9;
  position: relative;
}
header #header-imagem img {
  width: 370px;
}
header #estrelas {
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 0;
  transform: translateY(-5em);
  z-index: 1;
}
header #estrelas img {
  width: 50px;
}
header #estrelas img:nth-child(1) {
  animation: animaEstrela-1 10s ease-in-out alternate-reverse infinite;
}
header #estrelas img:nth-child(2) {
  animation: animaEstrela-2 6s ease-in-out alternate-reverse infinite;
}
header #estrelas img:nth-child(3) {
  animation: animaEstrela-3 8s ease-in-out alternate-reverse infinite;
}
header #estrelas img:nth-child(4) {
  animation: animaEstrela-2 7s ease-in-out alternate-reverse infinite;
}
header #estrelas img:nth-child(5) {
  animation: animaEstrela-1 8s ease-in-out alternate-reverse infinite;
}
header #header-abertura,
header #header-complemtos,
header #header-premio,
header #header-exclicacao {
  margin: 4em 0;
  font-family: Nasalization, "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #fff;
  text-shadow: 0px 0px 4px #185e46, 4px 4px 4px rgba(0, 0, 0, 0.267);
  z-index: 3;
  position: relative;
}
header #header-abertura h2 {
  font-size: 36px;
  margin: 0.2em 0;
  text-transform: uppercase;
}
header #header-abertura h1 {
  font-size: 80px;
  margin: 0.2em 0;
}
header #header-complemtos h1,
header #header-premio h1 {
  font-size: 3em;
}
header #header-complemtos h2 span,
header #header-premio h2 span {
  color: #0b986a;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  text-shadow: none;
  background: #fff;
  padding: 0.3em 1em;
  border-radius: 12px;
  border: 2px dashed #14250b;
}
header #header-exclicacao a {
  color: #fff;
  text-decoration: none;
}
header #header-exclicacao h2 {
  letter-spacing: 2px;
}
header #header-exclicacao h2 span {
  color: #0b986a;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  text-shadow: none;
  background: #fff;
  padding: 0.3em 1em;
  border-radius: 12px;
  border: 2px dashed #14250b;
}
header .nuvem {
  position: absolute;
  z-index: -1;
  filter: drop-shadow(20px 10px 8px rgba(0, 0, 0, 0.24));
}
header .nuvem.nuvem-1 {
  animation: animaNuvens 20s ease-in-out alternate-reverse infinite;
  top: 0;
  left: 0;
  width: 250px;
}
header .nuvem.nuvem-2 {
  animation: animaNuvens 15s ease-in-out alternate-reverse infinite;
  top: 100px;
  right: 1em;
  width: 350px;
}
header .nuvem.nuvem-3 {
  animation: animaNuvens 30s ease-in-out alternate-reverse infinite;
  top: 400px;
  left: 1em;
  width: 280px;
}
header .nuvem.nuvem-4 {
  animation: animaNuvens 20s ease-in-out alternate-reverse infinite;
  top: 550px;
  right: 1em;
  width: 200px;
}

#explicacao {
  width: 80%;
  margin: 2em auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  font-family: Nasalization, "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 14px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#explicacao #item1,
#explicacao #item2 {
  display: flex;
  align-items: center;
  width: 250px;
  margin: 0.5em 0;
}
#explicacao #item1 div {
  width: 35px;
  height: 35px;
  background: #fff;
  border-radius: 12px;
  border: 2px dashed #14250b;
  box-shadow: 3px 3px 8px 2px rgba(0, 0, 0, 0.26);
}
#explicacao #item2 div {
  width: 35px;
  height: 35px;
  background: rgba(0, 102, 42, 0.836);
  border-radius: 12px;
  border: 2px dashed #14250b;
  box-shadow: 3px 3px 8px 2px rgba(0, 0, 0, 0.26);
}
#explicacao span {
  padding-left: 1em;
  color: #fff;
  text-shadow: 0px 0px 4px #185e46, 4px 4px 4px rgba(0, 0, 0, 0.267);
}

#numeros {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  max-width: 1366px;
  font-family: Nasalization, "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.numero {
  align-items: center;
  background: #fff;
  border-radius: 12px;
  border: 2px dashed #14250b;
  box-sizing: border-box;
  color: #0b986a;
  cursor: pointer;
  display: flex;
  height: 80px;
  justify-content: center;
  margin: 12px;
  padding: 0.3em 1em;
  text-shadow: none;
  transition: all 0.3s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  width: 80px;
  box-shadow: 3px 3px 8px 2px rgba(0, 0, 0, 0.26);
}
.numero:hover {
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
}
.numero.indisponivel {
  background: rgba(0, 102, 42, 0.836);
  cursor: not-allowed;
}
.numero.indisponivel:hover {
  transform: none;
}
.numero span {
  font-size: 24px;
}

#modal {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(129, 129, 129, 0.4509803922);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 150;
  text-align: center;
  color: #fff;
  text-shadow: 0px 0px 4px #185e46, 4px 4px 4px rgba(0, 0, 0, 0.267);
}
#modal #modal-area {
  position: relative;
  width: 80%;
  background: #14250b;
  border: 2px dashed #185e46;
  padding: 0.2em 1em;
  font-family: Nasalization, "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border-radius: 12px;
}
#modal #modal-area .fechar {
  position: absolute;
  right: -18px;
  background: rgb(255, 131, 131);
  border: 2px solid rgba(0, 0, 0, 0.1215686275);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -18px;
}
#modal .textoAjudaComplemetar a {
  color: #fff;
  text-decoration: none;
}

@media (max-width: 700px) {
  header #estrelas {
    z-index: 15;
  }
  header #estrelas img:nth-child(1) {
    animation: animaEstrela-mobile2 8s ease-in-out alternate-reverse infinite;
  }
  header #estrelas img:nth-child(2) {
    animation: animaEstrela-mobile 12s ease-in-out alternate-reverse infinite;
  }
  header #estrelas img:nth-child(3) {
    animation: animaEstrela-mobile 7s ease-in-out alternate-reverse infinite;
  }
  header #estrelas img:nth-child(4) {
    animation: animaEstrela-mobile 8s ease-in-out alternate-reverse infinite;
  }
  header #estrelas img:nth-child(5) {
    animation: animaEstrela-mobile2 10s ease-in-out alternate-reverse infinite;
  }
}
footer {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  width: 100%;
  display: flex;
  justify-content: center;
  background: #185e46;
  border-top: 2px solid rgba(0, 0, 0, 0.11);
  padding: 4px 0;
  color: #fff;
  text-shadow: 0px 0px 4px #185e46, 4px 4px 4px rgba(0, 0, 0, 0.267);
}
footer a {
  color: #fff;
}

.seta1 {
  display: inline-block;
  animation: seta1 1s ease-out 1.4s infinite alternate-reverse;
}

.seta2 {
  display: inline-block;
  animation: seta2 1s ease-out infinite alternate-reverse;
}

#header-imagem img {
  border-radius: 15px;
}

.numero {
  display: flex;
  flex-wrap: wrap;
}

#nome-container {
  position: relative;
}

#nome {
  font-size: 0.7rem;
  color: rgba(255, 255, 255, 0.1882352941);
  text-align: center;
  width: 100%;
  display: block;
}/*# sourceMappingURL=main.css.map */